.panel {
    top: 25%;
    position: absolute;
    background-color: grey;
    left: 35%;
    padding-right: 10px;
    padding-left: 10px;
    border: 10px red;
    border-radius: 10px;

}
.form-group{
    margin-top: 5px;
    margin-bottom: 5px;
}
.body {
    background-color: #286090;
}
.btn:hover{
    color:rebeccapurple;
}
.title:hover{
    color: white;
}
footer{
    position: absolute;
    bottom: 10px;
    background-color: white;

}
header{
    position: absolute;
    top: 10px;
    background-color: white;
}